@import "./assets/scss/variables";
@import "./assets/scss/mixins";

.App {
  @include flex(row, center);
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    &:hover {
      cursor: pointer;
    }
  }
}